body {
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    font-family: oswald;
    font-weight: bold;
}
header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    height: 100vh;
    width: 100vw;
    background-color: rgb(247, 247, 247);
    color: rgb(0, 0, 0);
}
header > .container {
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    padding: 5px;
    height: 90%;
    width: 90%;
    background-image: linear-gradient(94.3deg,#1a2140 10.9%,#515473 87.1%);
    color: aliceblue;      
    border-radius: 12px;      
}
nav {
    display: inline-flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    align-self: stretch;
    width: auto;
    height: auto;
    flex-wrap: wrap;
    color: rgb(255, 255, 255);
    padding: 20px;
}
nav:hover {
    transition:  all 10s;
}
ul {
    color: aliceblue;
    width: auto;
    height: auto;
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: none;
}
li {
    padding: 10px;
    margin: 5px;
    margin-top: -8px;
}
li > a {
    text-decoration: none;
    color: aliceblue;
    font-size: 20px;
}
li > a:hover {
    transition: 0.5s;
    border: 1px solid #ffffff;
    /* shadow */
    box-shadow:  5px 5px 0px #979693,
                -5px -5px 0px #9d9c99;
    border-radius: 12px;
    padding: 5px;
}

.container-head {
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap; */
    width: auto;
    height: auto;
    color: aliceblue;
}
.myName {
    font-size: 50px;
    font-weight: bold;
}
nav > .stack {
    font-size: 20px;
    margin-top: -20px;
}
.myName, .stack {
    margin: 20px;
    padding: 0;
}
.mainContent {
    display: inline-flex;
    flex-direction: column;
    flex-grow: 2;
    justify-content: center;
    align-items: center;
    align-self: stretch;
    flex-wrap: wrap;
    width: auto;
    height: auto;
    background-image: radial-gradient(circle farthest-corner at -8.9% 30.7%,#45f0b0 0,#365de4 90.5%);    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
    color: linear-gradient(103.3deg, rgb(252, 225, 208) 30%, rgb(255, 173, 214) 55.7%, rgb(162, 186, 245) 81.8%);
    border-radius: 12px;
} 
.card {
    width: auto;
    height: auto;
    padding: 8px;
    border-radius: 29px;
    box-shadow:  5px 5px 0px #ffffff,
                -5px -5px 0px #ffffff;
    background-image: radial-gradient(circle at 10% 20%, rgb(215, 223, 252) 0%, rgb(255, 255, 255) 0%, rgb(215, 223, 252) 84%);
}

@media screen and (max-width: 768px) {
header > .container {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    height: 95%;
    width: 95%;
}
nav ul {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    height: auto;
    width: auto;
}
nav ul li a {
    padding: 0;
}
li{
    margin: -3px;
    margin-top: 0
}
li > a {
    font-size: 17.5px;
}
.myName {
    font-size: 30px;
    font-weight: bold;
    text-align: center;
}
nav > .stack {
    display: none;
}
.myName, .stack {
    padding: 0;
}
.mainContent {
    display: flex;
    flex-direction: column;
    flex-grow: 2;
    justify-content: center;
    align-items: center;
    align-self: stretch;
    flex-wrap: wrap;
    width: auto;
    height: auto;
} 
.card {
    width: auto;
    height: auto;
    padding: 7px;
}
}

@media screen and (max-width: 600px) {
    li > a {
        font-size: 15.5px;
    }
    .myName {
        font-size: 25px;
        font-weight: bold;
        text-align: center;
    }
    nav > .stack {
        display: none;
    }
    .card {
        width: auto;
        height: auto;
        padding: 7px;
    }
}